body{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    text-align: center;
}
input[type="text"],input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
input[type="submit"]{
    padding: 10px;
    color: #fff;
    background-color: #0F79FB;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(152, 152, 152);
}
.nombre{
    text-align: left;
    font-size: 3.6em;
}
.contenedor{
    margin: auto;
    width: 95%;
}
table{
    width: 100%;
    text-align: left;
    
    border-collapse: collapse;
}
th,td{
padding: 25px;
font-size: 2.1em;
}

tr{
    border-top: 1px solid rgb(204, 203, 203);
}
tr:nth-child(even){
    background-color: rgb(246, 246, 246);
}
.butones >.btn{
    display:inline;
}
.btn_editar,.btn_nuevo {
    background-color:#0F79FB;
    padding: 20px;

    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.btn_eliminar {
    background-color:red;
    padding: 20px;

    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}
.btn_editar:hover,.btn_nuevo:hover{
    background-color: #56a2ff;
}
.btn_eliminar:hover{
    background-color: rgb(255, 93, 93);
}
.nuevo  {
    margin: auto;
    width: 90%;
    text-align: left;
}
/*editar*/
